%challengeBase {
  width: 400px;
  height: 400px;
}

.challenge-wrapper {
  margin: 40px 0;
}

.title {
  background-color: slateblue;
  margin: 0;
  padding: 0;
  color: white;
  height: 22px;
  text-align: center;
  vertical-align: center;
}
