.challenge-box-container {
    width: 400px;
    height: 400px;
    margin: 40px 0;
    background: linear-gradient(45deg, #4f3ea0, #5ab6c4);
    position: relative;
    > .title {
        background-color: slateblue;
        margin: 0;
        padding: 0;
        color: white;
        height: 22px;
        text-align: center;
        vertical-align: center;
    }
}
