.challenge-box-container {
    width: 400px;
    height: 400px;
    margin: 40px 0;
    background: linear-gradient(45deg, #4f3ea0, #5ab6c4);
    position: relative;

    > .title {
        display: flex;
        background-color: slateblue;
        color: white;
        height: 30px;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
    }
}
